.btn {
    padding: 20px;
    cursor: pointer;
}


.btn::before {
    content: 'Pasa por encima';

}

.btn:hover {
    color: white;
    background-color: green;
}

.btn:hover::before {
    content: '¡Hecho!';
}
